.todo-list_container {
  padding-left: 0px;
}

.todo-list_item {
  position: relative;
  max-width: 600px;
  min-width: 95%;
  min-height: 50px;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.todo-list_item:hover {
  box-shadow: 2px 5px 2px 2px #aaa;
  transition: box-shadow 0.4s ease-in-out;
}

.todo-list_item:hover .btn {
  visibility: 1;
  opacity: 1;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 0.8s;
}

.todo-list_item span {
  padding: 0px;
  max-width: 500px;
}

.btn {
  cursor: pointer;
  visibility: none;
  display: inline-block;
  min-height: 44px;
  width: 44px;
  border: none;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.btn-left {
  background-color: #01ff70;
}

.btn-left:hover {
  background-color: #3d9970;
  opacity: 0.95;
}

.btn-right {
  background-color: #ff4136;
}

.btn-right:hover {
  background-color: #85144b;
  opacity: 0.95;
}

.completed {
  background-color: rgba(0, 255, 0, 0.5);
}
