.todo-list_container {
  /* position: relative; */
  padding-left: 0px;
}

.todo-list_item {
  position: relative;
  max-width: 600px;
  min-width: 95%;
  min-height: 50px;
  margin: 10px auto;
}

.todo-list_item:hover .btn {
  visibility: 1;
  opacity: 1;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.todo-list_item span {
  line-height: 0px;
  padding: 0px;
  max-width: 400px;
}

.btn {
  position: absolute;
  cursor: pointer;
  visibility: none;
  top: 0;
  display: inline-block;
  min-height: 44px;
  width: 44px;
  line-height: 0px;
  border: none;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.btn-left {
  left: 0;
  background-color: #01ff70;
}

.btn-left:hover {
  background-color: #3d9970;
  opacity: 0.95;
}

.btn-right {
  right: 0;
  background-color: #ff4136;
}

.btn-right:hover {
  background-color: #85144b;
  opacity: 0.95;
}
